.footer {
  background-color: #444;
  color: #fff;
  padding: 40px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
}

.footer h3,
.footer h4 {
  margin-bottom: 12px;
}

.footer p {
  font-size: 14px;
  line-height: 1.6;
  margin: 6px 0;
  cursor: pointer;
}
.footer a{
  display:block;
  color: white;
  font-size:14px;
  line-height:1.6;
  margin: 6px 0;
  text-decoration: none;
}

.footer a:hover {
  color: #ff914d;
   cursor: pointer;
}

.footer-bottom {
  background-color: #333;
  color: #ccc;
  text-align: center;
  padding: 12px;
  font-size: 14px;
}


